<!doctype html>
<html>
	<head>
		<title>{% block pagetitle %}{% endblock %}</title>
		
    	<link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    	<link href="{{ STATIC_URL }}/css/mcbook.css" rel="stylesheet" media="screen">
		
		<style type="text/css" media="screen">
			canvas {
			    image-rendering: optimizeSpeed;
			    image-rendering: -moz-crisp-edges;
			    image-rendering: -webkit-optimize-contrast;
			    image-rendering: optimize-contrast;
			    -ms-interpolation-mode: nearest-neighbor;
			}
		</style>


    	<script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}/js/mcSkinRenderer.js" type="text/javascript" charset="utf-8"></script>		
		
		{% block script %}
		{% endblock %}
		
	</head>
	<body>
		<h1>{% block title %}{% endblock %}</h1>
		{% block content %}
		{% endblock %}
	</body>
	
</html>