{% extends "base.html" %}

{% block pagetitle %}MC Server Stats{% endblock %}
{% block title %}Welcome{% endblock %}

{% block script %}
	<script>
		$(document).ready(function()
			{
				$("img.skin").ready(function()
					{
						renderMCSkins('skin', 1);
					}
				);
			}
		);
	</script>
{% endblock %}

{% block content %}

	{% for login in logins %}
		<div class="server">
	
			<table width="100%">
				<tr>
					<td>
						<h2>{{ login.server.game_type.lower }}: {{ login.server.name }}</h2>
					</td>
					<td align="right">
						<a class="serverlink" href="/server/{{login.server.id}}/api/">API</a>
					</td>
				</tr>
			</table>
		
			<ul class="char">
				{% for otherlogin in login.server.get_ordered_users %}
					<li>
						<table class="character">
							<tr><td>
								<div class="character {% if not otherlogin.is_online %}faded{% endif %}">
			                		<img class="skin" src="http://www.minecraft.net/skin/{{ otherlogin.user.username }}.png"/>
								</div>
							</td></tr>
							<tr><td>
								{{ otherlogin.user.username }}
							</td></tr>
							<tr><td>
								{% if otherlogin.is_online %}<b>online!</b>{% endif %}
							</td></tr>
						</table>
					</li>
				{% endfor %}
			</table>
			
		</div>
		
	{% endfor %}

{% endblock %}